; EditorConfig helps maintain consistent coding styles for multiple developers working
; on the same project across various editors and IDEs

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# 2 spaces for indentation in JS/TS/JSON/YAML
[*.{js,jsx,ts,tsx,json,yml,yaml}]
indent_style = space
indent_size = 2

# 4 spaces for indentation in Markdown
[*.md]
indent_style = space
indent_size = 2

# No trailing whitespace in HTML/CSS
[*.{html,css}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# Override for package.json
[package.json]
indent_style = space
indent_size = 2
